workflows/sal-01-proposals-contracts/automation/SALES01-Blueprint.json
{
  "name": "SALES01: Proposal Generation (Make.com Blueprint)",
  "flow": [
    {
      "id": 1,
      "module": "hubspot:watchDeals",
      "version": 1,
      "parameters": {
        "pipeline": "default",
        "stage": "proposal_requested"
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        }
      }
    },
    {
      "id": 2,
      "module": "openai:createCompletion",
      "version": 1,
      "parameters": {
        "model": "gpt-4"
      },
      "mapper": {
        "messages": [
          {
            "role": "system",
            "content": "Generate a highly customized Executive Summary for a proposal based on the following CRM deal notes."
          },
          {
            "role": "user",
            "content": "Company: {{1.properties.company}}\nPain Points: {{1.properties.pain_points}}\nGoals: {{1.properties.goals}}"
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        }
      }
    },
    {
      "id": 3,
      "module": "pandadoc:createDocument",
      "version": 1,
      "parameters": {
        "template_uuid": "YOUR_TEMPLATE_ID"
      },
      "mapper": {
        "name": "Proposal for {{1.properties.company}}",
        "tokens": [
          {
            "name": "Company_Name",
            "value": "{{1.properties.company}}"
          },
          {
            "name": "Executive_Summary",
            "value": "{{2.choices[0].message.content}}"
          },
          {
            "name": "Deal_Value",
            "value": "{{1.properties.amount}}"
          }
        ],
        "recipients": [
          {
            "email": "{{1.properties.contact_email}}",
            "first_name": "{{1.properties.contact_name}}"
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        }
      }
    },
    {
      "id": 4,
      "module": "slack:createMessage",
      "version": 1,
      "parameters": {
        "channel": "sales-proposals"
      },
      "mapper": {
        "text": "📄 Draft proposal generated for {{1.properties.company}}! It is ready for your review and video personalization in PandaDoc."
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": 0
        }
      }
    }
  ],
  "metadata": {
    "version": 1
  }
}
