workflows/ful-03-customer-service/automation/FUL03-Customer-Service-Blueprint.json
{
  "name": "FUL03: Support Ticket Intake & Triage (Make.com Blueprint)",
  "flow": [
    {
      "id": 1,
      "module": "email:watchEmails",
      "version": 1,
      "parameters": {
        "folder": "INBOX",
        "query": "to:support@unclerobertconsulting.com"
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        }
      }
    },
    {
      "id": 2,
      "module": "openai:createCompletion",
      "version": 1,
      "parameters": {
        "model": "gpt-4"
      },
      "mapper": {
        "messages": [
          {
            "role": "system",
            "content": "You are a support triage specialist. Given a client email, classify: (1) severity as LOW, MEDIUM, or HIGH based on impact description, (2) category as TECHNICAL, BILLING, ACCESS, or GENERAL, (3) generate a ticket ID as CS-YYYYMMDD-NNN. Check for duplicate indicators: same sender + similar keywords within 4 hours = potential duplicate. Return JSON: {ticketId, severity, category, clientEmail, clientName, summary, potentialDuplicate: boolean, suggestedResponse}."
          },
          {
            "role": "user",
            "content": "From: {{1.from}}\nSubject: {{1.subject}}\nBody: {{1.text}}\nReceived: {{1.date}}"
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        }
      }
    },
    {
      "id": 3,
      "module": "builtin:Router",
      "version": 1,
      "parameters": {},
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        }
      }
    },
    {
      "id": 4,
      "module": "clickup:createTask",
      "version": 1,
      "parameters": {
        "listId": "YOUR_SUPPORT_LIST_ID"
      },
      "mapper": {
        "name": "[{{2.choices[0].message.content.severity}}] {{2.choices[0].message.content.summary}}",
        "priority": "{{2.choices[0].message.content.severity == 'HIGH' ? 1 : 2}}",
        "description": "Client: {{1.from}}\nCategory: {{2.choices[0].message.content.category}}\n\n{{1.text}}"
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": -150
        },
        "note": "Route: potentialDuplicate == false"
      }
    },
    {
      "id": 5,
      "module": "email:sendEmail",
      "version": 1,
      "parameters": {},
      "mapper": {
        "to": "{{1.from}}",
        "subject": "Re: {{1.subject}} — Ticket {{2.choices[0].message.content.ticketId}}",
        "body": "Thank you for reaching out. Your request has been logged as ticket {{2.choices[0].message.content.ticketId}}. We will respond within 48 hours.\n\nBest,\nUncle Robert Consulting Support"
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": 150
        },
        "note": "Route: always (auto-acknowledgment)"
      }
    }
  ],
  "metadata": {
    "version": 1
  }
}
