workflows/fin-01-pricing-expenses/automation/FIN01-Pricing-Expenses-Blueprint.json
{
  "name": "FIN01: Expense Intake & Categorization (Make.com Blueprint)",
  "flow": [
    {
      "id": 1,
      "module": "email:watchEmails",
      "version": 1,
      "parameters": {
        "folder": "INBOX",
        "query": "from:receipts OR from:noreply subject:receipt OR subject:confirmation"
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        }
      }
    },
    {
      "id": 2,
      "module": "openai:createCompletion",
      "version": 1,
      "parameters": {
        "model": "gpt-4"
      },
      "mapper": {
        "messages": [
          {
            "role": "system",
            "content": "You are a bookkeeper. Extract from this receipt email: vendor name, amount, date, and suggest a QuickBooks expense category. Use the vendor-to-category mapping: SaaS/software → 'Software Subscriptions', office supplies → 'Office Expenses', travel → 'Travel', advertising → 'Advertising'. If vendor is unknown, set category to 'REVIEW_REQUIRED'. Return JSON: {vendor, amount, date, category, confidence}."
          },
          {
            "role": "user",
            "content": "Subject: {{1.subject}}\nFrom: {{1.from}}\nBody: {{1.text}}"
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        }
      }
    },
    {
      "id": 3,
      "module": "builtin:Router",
      "version": 1,
      "parameters": {},
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        }
      }
    },
    {
      "id": 4,
      "module": "quickbooks:createExpense",
      "version": 1,
      "parameters": {},
      "mapper": {
        "vendor": "{{2.choices[0].message.content.vendor}}",
        "amount": "{{2.choices[0].message.content.amount}}",
        "category": "{{2.choices[0].message.content.category}}",
        "date": "{{2.choices[0].message.content.date}}"
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": -150
        },
        "note": "Route: category != REVIEW_REQUIRED"
      }
    },
    {
      "id": 5,
      "module": "microsoft-teams:createMessage",
      "version": 1,
      "parameters": {
        "channel": "finance-review"
      },
      "mapper": {
        "text": "📋 *Expense Needs Review*\n*Vendor:* {{2.choices[0].message.content.vendor}}\n*Amount:* {{2.choices[0].message.content.amount}}\n*Reason:* Unknown vendor — manual category assignment required."
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": 150
        },
        "note": "Route: category == REVIEW_REQUIRED"
      }
    }
  ],
  "metadata": {
    "version": 1
  }
}
