workflows/ful-01-display-packaging/automation/FUL01-Deliverable-Tracking-Blueprint.json
{
  "name": "FUL01: Deliverable Sprint Tracker & Escalation (Make.com Blueprint)",
  "flow": [
    {
      "id": 1,
      "module": "clickup:watchTaskStatusChange",
      "version": 1,
      "parameters": {
        "listId": "YOUR_SPRINT_LIST_ID",
        "statuses": ["in progress", "blocked", "complete"]
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        }
      }
    },
    {
      "id": 2,
      "module": "openai:createCompletion",
      "version": 1,
      "parameters": {
        "model": "gpt-4"
      },
      "mapper": {
        "messages": [
          {
            "role": "system",
            "content": "You are a project manager monitoring a 90-day workflow installation sprint. Given a task status change, determine: (1) days remaining in the 90-day window, (2) whether the task is a client-dependency (requires client credentials or access), (3) whether escalation is needed. Escalate if: client-dependency task has been in 'blocked' for > 7 days, or remaining sprint days < 14 with > 30% tasks incomplete. Return JSON: {taskName, newStatus, daysRemaining, isClientDependency, escalate: boolean, escalationReason}."
          },
          {
            "role": "user",
            "content": "Task: {{1.taskName}}\nNew Status: {{1.status}}\nSprint Start: {{1.customFields.sprintStart}}\nTotal Tasks: {{1.customFields.totalTasks}}\nCompleted Tasks: {{1.customFields.completedTasks}}"
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        }
      }
    },
    {
      "id": 3,
      "module": "builtin:Router",
      "version": 1,
      "parameters": {},
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        }
      }
    },
    {
      "id": 4,
      "module": "microsoft-teams:createMessage",
      "version": 1,
      "parameters": {
        "channel": "fulfillment-alerts"
      },
      "mapper": {
        "text": "🚨 *Sprint Escalation*\n*Client:* {{1.taskName}}\n*Days Remaining:* {{2.choices[0].message.content.daysRemaining}}\n*Reason:* {{2.choices[0].message.content.escalationReason}}"
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": -150
        },
        "note": "Route: escalate == true"
      }
    },
    {
      "id": 5,
      "module": "google-sheets:appendRow",
      "version": 1,
      "parameters": {
        "spreadsheetId": "YOUR_FUL01_TRACKER_ID"
      },
      "mapper": {
        "values": ["{{formatDate(now; 'YYYY-MM-DD HH:mm')}}", "{{1.taskName}}", "{{1.status}}", "{{2.choices[0].message.content.daysRemaining}}"]
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": 150
        },
        "note": "Route: always (activity log)"
      }
    }
  ],
  "metadata": {
    "version": 1
  }
}
