workflows/mkt-05-outreach-engagement/automation/MKT05-Outreach-Response-Blueprint.json
{
  "name": "MKT05: Outreach Response Routing (Make.com Blueprint)",
  "flow": [
    {
      "id": 1,
      "module": "gmail:watchEmails",
      "version": 1,
      "parameters": {
        "folder": "INBOX",
        "query": "is:reply"
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        }
      }
    },
    {
      "id": 2,
      "module": "openai:createCompletion",
      "version": 1,
      "parameters": {
        "model": "gpt-4"
      },
      "mapper": {
        "messages": [
          {
            "role": "system",
            "content": "You are a sales assistant. Analyze this email reply and classify its sentiment as either: POSITIVE, OBJECTION, or UNSUBSCRIBE."
          },
          {
            "role": "user",
            "content": "{{1.text}}"
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        }
      }
    },
    {
      "id": 3,
      "module": "builtin:Router",
      "version": 1,
      "parameters": {},
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        }
      }
    },
    {
      "id": 4,
      "module": "slack:createMessage",
      "version": 1,
      "parameters": {
        "channel": "sales-hot-leads"
      },
      "mapper": {
        "text": "🔥 *Positive Reply Received!*\n*From:* {{1.senderName}} ({{1.senderEmail}})\n*Message:* {{1.text}}\n*Action:* Respond immediately!"
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": -200
        }
      }
    },
    {
      "id": 5,
      "module": "hubspot:updateContact",
      "version": 1,
      "parameters": {},
      "mapper": {
        "email": "{{1.senderEmail}}",
        "properties": [
          {
            "property": "leadstatus",
            "value": "UNQUALIFIED"
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": 200
        }
      }
    }
  ],
  "metadata": {
    "version": 1
  }
}
